<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>

<body>
    <header>
        <h1>Blog</h1>
        <div class="buttons">
            <a href="{% url 'login' %}">
            <button style="background-color: black; color: white;">Logar</button>
            </a>
            <a href="{% url 'register' %}">
            <button style="background-color: white;">Registrar</button>
            </a>
        </div>
    </header>
    <main>
        <section class="formulario">
            <div class="title">Quer adicionar algo ao blog?</div>
            <div class="f1">
                <h2>Formulario de envio</h2>
                <form method="post">
                    {% csrf_token %}
                    <p>
                        <label for="topico">Topico:</label>
                    </p>
                    <input type="text" id="topico" placeholder="Digite o nome do topico" name="topico">
                    <p>
                        <label for="assunto">Assunto:</label>
                    </p>
                    <textarea name="assunto" id="assunto" placeholder="Digite o assunto"></textarea>
                    <p>
                        <button type="submit">Enviar</button>
                    </p>
                </form>
            </div>
        </section>
        <section>
            <div class="conteudo">
                {% for i in topicos_assuntos %}
                <h2>{{ i.topico }}</h3>
                    <div class="assunto">
                        {% for a in i.assuntos %}
                        <div class="paragrafo">
                            <p>{{ a.texto }}</p>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
            </div>
        </section>
    </main>
    <div class="footer">
        <p>Direitos reservados©</p>
        <p>Site feito por: Miguel Silva da Roza</p>
    </div>
</body>

</html>