<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/styleLogin.css' %}">
    <link rel="shortcut icon" href="{% static 'images/icon.ico'%}" type="image/x-icon">
</head>

<body>
    <header>
        <h1>Blog</h1>
        <div class="buttons">
            <p>
                {{ usuario }}
                <a href="{% url 'deslogar'%}"><button style="width: 70px; height: 30px; background-color: rgba(255, 107, 107, 0.575); border: none;">Deslogar</button></a>
            </p>
        </div>
    </header>
    <main>
        <section class="formulario">
            <div class="title">Quer adicionar algo ao blog?</div>
            <div class="f1">
                <h2>Formulario de envio</h2>
                <form method="post">
                    {% csrf_token %}
                    <p>
                        <label for="topico">Topico:</label>
                    </p>
                    <input type="text" id="topico" placeholder="Digite o nome do topico" name="topico">
                    <p>
                        <label for="assunto">Assunto:</label>
                    </p>
                    <textarea name="assunto" id="assunto" placeholder="Digite o assunto"></textarea>
                    <p>
                        <button type="submit">Enviar</button>
                    </p>
                </form>
            </div>
        </section>
        <section>
            <div class="conteudo">
                {% for i in topicos_assuntos %}
                <h2>{{ i.topico }}</h3>
                    <div class="assunto">
                        {% for a in i.assuntos %}
                        <div class="paragrafo">
                            <p style="font-size: 10px; padding-left: 3px;"><img src="{% static 'images/iconePadrao.jpg'%}" style="width: 20px; border-radius: 10px;">{{ a.usuario }}</p>
                            <p style="padding-left: 3px;">{{ a.texto }}</p>
                            <p style="font-size: 10px; text-align: end; padding-right: 3px;">{{ a.data_de_envio }}</p>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
            </div>
        </section>
    </main>
    <div class="footer">
        <p>Direitos reservados©</p>
        <p>Site feito por: Miguel Silva da Roza</p>
        <p>Usuario logado : {{ usuario }}</p>
        
    </div>
</body>

</html>